body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #fff;
}

.section-title strong {
	color: #00C6D7;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}
.large-icon {
  font-size: 52px !important;
  color: #ff5252;
}
#work {
  padding-top: 100px;
  padding-bottom: 120px;
}
#about, #team, 
#tech, #pricing, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #2095f2;
    margin-bottom: 0;    
}
@media screen and (max-width: 768px) {
  .custom-navbar {
      box-shadow: 0 .8px 10px rgba(20,20,20,0.6);
  }
}
.custom-navbar .navbar-brand  {
  color: #2095f2;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.custom-navbar .nav li a:hover {
  	background: #fff;
   color: #2095f2;
}
.custom-navbar .nav > li > a:focus {
  background-color: #fff;
  color: #2095f2;
  outline: none;
}
.custom-navbar .nav li.active > .menuOpt {
      background: #fff;
      color: #2095f2;
}
.custom-navbar .nav li.active > .menuOpt:hover {
  cursor: pointer!important;
}
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #fff;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar {
            background: #2095f2;
            padding: 10px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #2095f2;
            box-shadow: 0 .8px 10px rgba(20,20,20,0.6);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    .custom-navbar.nav-transparent {
          padding: 8px;
          background: transparent;
          box-shadow: none!important;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
    }
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#home h3 {
  font-size: 14px;
  text-shadow: .5px .5px rgba(140, 40, 40, 0.4);
}
#home hr {
  width: 240px;
}
#home .btn {
  background: rgba(32, 149, 242,0.1);
  border: 4px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #2095f2;
  border-color: transparent;
}
#home .btn-danger {
  background: #2095f2;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  border-radius: 25px;
	background: transparent;
  color: #ffffff;
}
/* ==========================================================================
work section
========================================================================== */
#work {
    text-align: center;
}
#work .col-md-3 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-3:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
}


/* ==========================================================================
about section
========================================================================== */
#about {
  background: url(../images/pine4.jpg)no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
  color: #ffffff;  
}
#about h4 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;  
}
#about h4 i {
  color: #ff5252;
  text-shadow: 1px 2px 5px rgba(50, 50, 50, 0.8);
  font-size: 20px;
}

/* ==========================================================================
team section
========================================================================== */
#team {
  text-align: center;
  background: #f6f6f6;
}
#team h3 {
  color: #00c6d7;
  font-size: 14px;
  font-weight: bold;
}
#team .col-md-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#team .team-wrapper {
  overflow: hidden;
  position: relative;
}
#team .team-des {
  background-color: rgba(00,00,00,0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#team .team-des:hover {
 opacity: 1;
}
#team img {
  margin: 0 auto;
}

#team .social-icon li a {
  color: #fff;
}

#team .social-icon li a:hover {
  color: #00c6d7;
}

#team .social-icon-mobile li a {
  color: #555;
}

#team .social-icon-mobile li a:hover {
  color: #2095f2;
}

/* ==========================================================================
tech section
========================================================================== */
#tech {
  background-color: #ffffff;
  text-align: center;
  }
#tech .container {
  width: 100%;
  padding: 0 0px 0 50px;
  margin: 0;
}
@media screen and (max-width: 992px) {
  #tech .container {
    padding: 0 0px 0 0px;
  }
}


/* ==========================================================================
contact section
========================================================================== */
#contact {
  background: #3B3B3B url('../images/contactImg.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#contact h2 {
  padding-bottom: 20px;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact form {
  padding-top: 60px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact input {
  height: 40px;
}
.success {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 45px; 
  background-color: #15CD72;
  box-shadow: 1px 1px 6px #666;
  border-radius: 2px;
}
.success p {
  margin: auto;
  color: #fff;
}
#contact .sendMsgBtn {
  background: #00c6d7;
  font-family: 'Roboto', sans-serif;
  border: 4px solid #00c6d7;
  letter-spacing: 1px;
  margin-top: 18px;
  height: 50px;
  color: #ffffff;
}
#contact .sendMsgBtn:hover {
  background-color: transparent;
}
.errMsgContact {
  text-align: center;
  background-color: #ff5252;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2px;
}

/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer p {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 2px rgba(50, 50, 50, 0.09);
  border-radius: 7%;
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #2095f2;
}

.social-icon-mobile {
  padding: 0;
  margin: 0;
}
.social-icon-mobile li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon-mobile li a {
  box-shadow: 0px 2px 8px 2px rgba(50, 50, 50, 0.09);
  border-radius: 7%;
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon-mobile li a:hover {
  color: #2095f2;
}

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}